<div ng-init="getAttemptData()">
    <div>
        <progress ng-show="showLoading"></progress>
    </div>
    <div ng-hide="showLoading">
<!--
        <h2><label class="label label-default">HABIT</label> &nbsp; {{data.habitName}}</h2>
-->
        <h2>
            <!--<label class="label label-default">HABIT</label> &nbsp; <input id="atmptPge_hbtNme" class="editableField" type="text" ng-model="habitName"/>-->
            <label for="atmptPge_hbtNme" class="label label-default">HABIT</label> &nbsp; <input id="atmptPge_hbtNme" class="editableField" type="text" ng-model="habitName.name"/>
        </h2>
        <h3>&nbsp;&nbsp;&nbsp;
            <label class="label label-primary">ATTEMPT</label> &nbsp;
          <input class="editableField" type="text" ng-model="attempt.name"/>
          <label class="label label-primary">START DATE</label> &nbsp;
          <input ng-blur="changeChainDates(data.chain, data.startDate)" class="editableField" type="text" ng-model="attempt.startDate"/>


        </h3>

      <!--{{data | json}}-->

        <br/>
        <div ng-controller="TabsDemoCtrl">
<!--{{data}}-->

            <form name="outerForm" class="tab-form-demo">
                <uib-tabset class="tab-animation" justified="true">

                    <uib-tab ng-repeat="day in data" field="{{1+1}}">
                        <uib-tab-heading>
                        <!--<uib-tab-heading ng-if="1===1">-->
                        <!--<uib-tab-heading ng-if="day.date <= data.startDate">-->


                        <span ng-class="{true: 'brenterface label label-success', false: 'brenterface label label-danger'}[day.status]">

                            <span ng-bind-html="getTabHeading($index, day.date)"></span>
                        </span>

                            <svg class="brenterface" ng-show="day.status=='true' && $index !=27" height="10" width="80"
                                 style="left:
                        40px; position: absolute">
                                <line position: absolute x1="0" y1="10" x2="55" y2="10"
                                      style="stroke:rgb(92,184,92);stroke-width:2"/>
                            </svg>

                        </uib-tab-heading>


                        <div class="container-fluid" id="attempt-3colContainer">
                        <!--<div ng-if="day.date <= data.startDate" class="container-fluid" id="attempt-3colContainer">-->
                            <div class="row">
                                <div class="col-lg-4">
                                    <h3 class="journalHeadings">
                                        Progress Log {{day.date}} {{data.startDate}}
                                    </h3>
                                    <ng-form name="nestedForm">
                                        <div class="form-group">
                                            <br/>

                                            <label>
                                                Accomplished?
                                                {{day.date | date:'EEE MMM d yyyy'}}
                                                <!--
                                                                                {{data | json}}
                                                -->
                                            </label>
                                            <!--
                                                                        <select ng-model="day.status" ng-options="x for x in statusChoices.choices"></select>
                                            -->
                                            <br/>
                                            <label class="radio-inline"><input type="radio" ng-model="day.status"
                                                                               value="true">Yes
                                            </label>
                                            <label class="radio-inline"><input type="radio" ng-model="day.status"
                                                                               value="false">No
                                            </label>

                                            <br/>
                                            <br/>

                                            <label>Journal Entry</label>
                                            <textarea rows="8" class="form-control"
                                                      ng-model="day.journalEntry"></textarea>

                                        </div>
                                    </ng-form>

                                </div>
                                <div class="col-lg-4">
                                    <h3 class="journalHeadings">
                                        Pics and Videos
                                        <h6>YouTube URL</h6>
                                        <input type="text" ng-model="day.YouTube" size="60"/>
                                        <div ng-show="day.YouTube" class="embed-responsive embed-responsive-16by9">
                                            <anguvideo ng-model="day.YouTube"></anguvideo>
                                        </div>
                                    </h3>
                                </div>
                                <div class="col-lg-4">
                                    <h3 class="journalHeadings">
                                        What I learned today
                                    </h3>
                                </div>
                            </div>

                        </div>

                    </uib-tab>

                </uib-tabset>
            </form>


        </div>


        <!--        Model:
                <pre>{{ model | json }}</pre>
                Nested Form:
                <pre>{{ outerForm.nestedForm | json }}</pre>-->

        <!--
                <pre>{{ statusChoices | json }}</pre>
        -->

    </div>


</div>