<div>
    <h1>Create a new Habit</h1>

    <form role="form">
        <div class="form-group">
            <label for="name"><h6>NAME <span class="label label-info">REQUIRED</span></h6>
                <input id="name" class="form-control" type="text" name="name" ng-model="book.name" required/>
            </label>
        </div>
        <div class="form-group">
            <label for="description"><h6>DESCRIPTION <span class="label label-info">REQUIRED</span></h6>
                <textarea id="description" class="form-control" name="description"
                          ng-model="book.description" required></textarea>
            </label>
        </div>

        <!--
                <div class="form-group">
                    <label for="startDate">What date do you want to start attempting this Habit?
                        <input type="date" id="startDate" class="form-control" name="startDate" defaultValue="2014-02-09">
                    </label>
                </div>-->

        <!--        <div class="form-group" ng-controller="DatepickerDemoCtrl">
                    <label for="startDate">What date do you want to start attempting this Habit?

                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" id="startDate" name="startDate" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="bookdt"
                                       is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>
                    </label>

                </div>-->

<!--
        {{book | json}}
-->

        <div>
<!--            <label><h6>START DATE</h6>

                <input type="date" id="startDate" name="startDate" ng-model="bookdt"/>
            </label>-->


            <div class="form-group" ng-controller="DatepickerDemoCtrl">
                <label for="startDate"><h6>START DATE</h6>

                    <div class="row">
                        <div class="col-md-6">
                            <p class="input-group">
                                <input type="text" id="startDate" name="startDate" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="bookdt"
                                       is-open="popup1.opened" min-date="minDate" max-date="maxDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"
                                       close-text="Close" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                            </p>
                        </div>
                </label>

            </div>



        </div>
<br/>
        <div>
            <button type="submit" name="commit" ng-click="addBook()" ng-show="authData">Create Habit</button>
        </div>
    </form>
    <nav>
        <!--
            <a href="#/main">Back to main menu</a>
        -->
    </nav>
</div>