<div>
  <h1>Create a new Habit</h1>
  <form>
    <div>
      <label>Name:
        <input type="text" name="Name" ng-model="book.name" />
      </label>
    </div>
    <div>
      <label>Description:
        <input type="text" name="Description" ng-model="book.description" />
      </label>
    </div>
<!--    <div>
      <label>Year:
        <input type="number" name="year" ng-model="book.year" />
      </label>
    </div>-->
    <div>
      <button type="submit" name="commit" ng-click="addBook()" ng-show="authData">Save</button>
    </div>
  </form>
  <nav>
    <a href="#/main">Back to main menu</a>
  </nav>
</div>