<div>
  <h1>Delete Habit</h1>
  <form role="form">
    <div ng-hide="book" class="form-group">
      <label for="elSelectHabit"><h6>Select a Habit to delete:</h6>
        <select id="elSelectHabit" ng-model="book" class="form-control" ng-options="(book.name) for book in books">
<!--
          ng-options="(book.isbn + ' - ' + book.title) for book in books">
-->

          <option value="">No Habit Selected</option>
        </select>
      </label>
    </div>
    <div ng-show="book">
      <div>
        <p class="label label-warning">Are you sure you want to delete this habit?
        </p>
<br/>
<section class="well well-sm">
<!--
    <output type="text" name="isbn" ng-bind="book.name" />
-->
    {{ book.name }}
</section>
      </div>
<!--      <div>
        <label>Title:
          <output type="text" name="title" ng-bind="book.title" />
        </label>
      </div>
      <div>
        <label>Year:
          <output type="number" name="year" ng-bind="book.year" />
        </label>
      </div>-->
      <br/>
      <div>
        <button type="submit" name="commit" ng-click="destroyHabit()" ng-show="authData">
          Delete
        </button>
      </div>
    </div>
  </form>
  <nav>
<!--
    <a href="#/main">Back to main menu</a>
-->
  </nav>
</div>