<div class="text-center">
  <h1>
    <img style="width: 200px;" src="public/img/28Chains_logo.png" alt="28 Chains logo">
  </h1>
  <h2>
    DISCLAIMER
  </h2>
  <h3>
    All content found on the 28Chains Website, including: text, images, audio, or other formats were created for
    informational purposes only. The Content is not intended to be a substitute for professional medical advice,
    diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any
    questions you may have regarding a medical condition. Never disregard professional medical advice or delay in
    seeking it because of something you have read on this Website.
<br/>
<br/>
    If you think you may have a medical emergency, call your doctor, go to the emergency department, or call 911
    immediately. 28Chains does not recommend or endorse any specific tests, physicians, products, procedures, opinions,
    or other information that may be mentioned on 28Chains. Reliance on any information provided by 28Chains,
    28Chains employees, contracted writers, or medical professionals presenting content for publication to 28Chains is
    solely at your own risk.
    <br/>
    <br/>
    If you find these materials offensive, you may not want to use our Site.
    The Site and its Content are provided on an "as is" basis.
    <br/>
    <br/>
    Links to outside content not created by 28Chains are taken at your own risk. 28Chains is not responsible
    for the claims of external websites.
  </h3>
</div>