<div class="text-center">
  <h1>
    <img style="width: 200px;" src="public/img/28Chains_logo.png" alt="28 Chains logo">
  </h1>
  <h2>
What types of Habits can 28Chains help build?
  </h2>
  <h3>
    <ul style="list-style-type: none;">
      <li>quitting smoking</li>
      <li>quitting drinking</li>
      <li>losing weight</li>
      <br/>
      <li>meditating daily</li>
      <li>writing in your journal daily</li>
      <li>doing yoga twice a week</li>
    </ul>
  </h3>
  <h2>What is the difference between Habits and Attempts?</h2>
  <h3>You "Attempt" to build a Habit (or skill).</h3>
  <h3>Habits can be comrpised of either just one or more than 1 Attempts to build a Habit (or skill).</h3>
</div>