<footer class="footer">
    <h6 class="text-center">28Chains is a project by <a href="http://BrentLabasan.com" target="_blank">Brent Labasan</a>
      for building
      good habits.
      <br/>
      <a href="#/about">About</a><a href=""></a>
      &nbsp;|
      <a href="#/contact">Contact</a><a href=""></a>
      &nbsp;|
      <a href="#/contact">Support</a><a href=""></a>
      &nbsp;|
      <a href="#/FAQ">FAQ</a><a href=""></a>
      <br/>
      HTML | CSS | JavaScript | AngularJS | Bootstrap&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NodeJS | Heroku | Searchly (ElasticSearch) | Firebase (NoSQL) | Gulp
    </h6>
</footer>
