<div ng-init="getHabitsAttempts()">
  <!--<h1>Habit's Attempts</h1>-->
  <h2>
    <!--<label class="label label-default">HABIT</label> &nbsp; <input id="atmptPge_hbtNme" class="editableField" type="text" ng-model="habitName"/>-->
    <label class="label label-default">HABIT</label> &nbsp; <input id="atmptPge_hbtNme" class="editableField" type="text" ng-model="habitName.name"/>
  </h2>

  <div>
    <progress ng-show="showLoading"></progress>
  </div>
  <button ng-click="addAttempt()" type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;NEW ATTEMPT
  </button>
  <!--{{data|json}}-->
  <br/>
  <br/>
  <table class="table table-striped table-hover" ng-hide="showLoading">
    <thead>
    <tr>
      <th>Name of Attempt</th>
      <th>Start Date</th>
      <th>Delete</th>
      <!--<th>Parent Habit</th>-->
    </tr>
    </thead>
    <tbody>
    <tr class="tab-animation" ng-repeat="(key,value) in data">
      <td>
        <!--{{value.id_habit}}-->
        <a ng-href="#/attempt/{{value.id_habit}}/{{key}}">
          <span class="label label-primary">ATTEMPT</span> &nbsp;{{value.name}}
        </a>
      </td>
      <td>{{value.startDate}}
      </td>
      <td>
        <span class="glyphicon glyphicon-trash"></span>
      </td>
<!--
      <td>
        TODO parent Habit name
      </td>
-->
    </tr>
    </tbody>
  </table>

  <!--
      {{data}}
  -->

</div>