<nav ng-controller="HeaderController" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                28Chains
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#/showAllBooks">My Habits</a></li>
            <li><a href="#/createBook">Add Habit</a></li>
<!--
            <li><a href="#/updateBook">Update Habit</a></li>
-->
            <li ng-show="authData"><a href="#/deleteBook">Delete Habit</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="authData"><a href="#"><span
                    class="glyphicon glyphicon-log-out"></span> Hello, {{ authData.facebook.displayName }}</a></li>

            <li ng-hide="authData"><a href="" ng-click="auth.$authWithOAuthPopup('facebook')"><span
                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li ng-hide="authData"><a href="" ng-click="auth.$authWithOAuthPopup('facebook')"><span
                    class="glyphicon glyphicon-log-in"></span> Login</a></li>

            <li ng-show="authData"><a href="" ng-click="auth.$unauth()"><span
                    class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>