<div>
  <hgroup>
    <h1>Public Library   {{1+1}}</h1>
    <h2>Minimal AngularJS Frontend App</h2>
    <h3>An example of a minimal effort frontend web app built with AngularJS</h3>
  </hgroup>
  <figure style="float:right">
    <a href="https://plus.google.com/u/0/b/104237216582874489152/104237216582874489152/about">
      <img property="thumbnailUrl" src="../../fig/machine-build.svg" width="120"
           title="Icon made by Lorc under CC BY 3.0. Available on http://game-icons.net"/>
    </a>
  </figure>
  <p>
    This app is accompanied by a
    <a href="http://web-engineering.info/JsAngularParseApp/minimal-tutorial.html">tutorial</a>.
    See also the <a class="link" href="http://web-engineering.info/index.html">project page</a>.
    This app supports the following operations:
  </p>
  <menu>
    <li><a href="#/showAllBooks"><button type="button">List all Books</button></a></li>
    <li><a href="#/createBook"><button type="button">Add a new Book</button></a></li>
    <li><a href="#/updateBook"><button type="button">Update a Book</button></a></li>
    <li><a href="#/deleteBook"><button type="button">Delete a Book</button></a></li>
    <li><button type="button" ng-click="clearDatabase()">Clear database</button></li>
    <li><button type="button" ng-click="createTestData()">Create test data</button></li>
  </menu>
  <p>
    For playing with the app, you may first want to
    <button type="button" ng-click="createTestData()">Create test data</button>
    and then view it with <a href="#/showAllBooks">List all Books</a>.
    For observing the internal status and error messages, turn on the JavaScript
    console.
  </p>
  <p>
    This minimal version of our AngularJS frontend data management application only includes a
    minimum of the overall functionality required for a complete app. It takes care of only one
    object type ("books") and supports the four standard data management operations (<strong>C
    </strong>reate/<strong>R</strong>ead/<strong>U</strong>pdate/<strong>D</strong>elete), but it
    needs to be enhanced by styling the user interface with CSS rules and by adding further
    important parts of the app's overall functionality:
  </p>
  <ul>
    <li><a href="#">Part 2</a>:
      Handling <strong>integrity constraints</strong>.
    </li>
    <li><a href="#">Part 3</a>:
      Managing <strong>unidirectional associations</strong> between object types.
    </li>
    <li><a href="#">Part 4</a>:
      Managing <strong>bidirectional associations</strong> between object types.
    </li>
    <li><a href="#">Part 5</a>:
      Handling <strong>subtype</strong>(inheritance) relationships between object types.
    </li>
  </ul>

</div>