<!--<div ng-init="getAllHabits()">-->
<!--<div ng-controller="engine28Controller">-->
<div ng-controller="engine28Controller">
    <div>
        <progress ng-show="showLoading"></progress>

        <div ng-hide="authData">
            <h1>Sign up or log in to start to being using 28Chains!</h1>
            <a href="" ng-click="auth.$authWithOAuthRedirect('facebook')"><span
                    class="glyphicon glyphicon-user"></span> Sign Up / Log In
            </a>
        </div>
    </div>
    <div ng-hide="showLoading">
        <h1>All Habits</h1>
        <!-- WTF WHY DOESN'T THIS WORK
                <div class="col-sm-12" ng-show="!books">Click here to create a Habit to track!</div>
        -->
        <a href="#/createHabit" type="button" class="btn btn-warning"><span
                class="glyphicon glyphicon-plus-sign"></span>&nbsp;
            CREATE HABIT</a>
        <br/>
        <br/>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
<!--                <th>Status</th>
                <th>Streak</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,value) in books">
                <td>
                    <a ng-href="#/habit/{{key}}">
                        <span class="label label-default">HABIT</span> &nbsp;{{value.name}}
                    </a>
                </td>
                <td>{{value.description}}
                </td>
<!--                <td>
                    insert status here
                </td>
                <td>
                    insert streak here
                </td>-->
            </tr>
            </tbody>
        </table>
        <nav>
            <!--
                        <a href="#/main">Back to main menu</a>
            -->
        </nav>
    </div>
</div>
