<div ng-init="getAllBooks()">
    <div>
        <progress ng-show="showLoading"></progress>
    </div>
    <div ng-hide="showLoading">
        <h1>All Habits</h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Streak</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key,value) in books">
                <td>
                    <a ng-href="#/habit/{{key}}">
                        <span class="label label-default">HABIT</span> &nbsp;{{value.name}}
                    </a>
                </td>
                <td>{{value.description}}
                </td>
                <td>
                    insert status here
                </td>
                <td>
                    insert streak here
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
<!--
            <a href="#/main">Back to main menu</a>
-->
        </nav>
    </div>
</div>
