<div ng-init="getAllBooks()">
  <h1>Update Habit</h1>
  <form>
    <div ng-hide="book">
      <label>Select book:
        <select ng-model="book"
                ng-options="(book.name) for book in books">
          <option value="">...</option>
        </select>
      </label>
    </div>
    <div ng-show="book">
      <div>
        <label>NAME
          <input type="text" name="name" ng-model="book.name" />
        </label>
      </div>
      <div>
        <label>DESCRIPTION
          <input type="text" name="description" ng-model="book.description" />
        </label>
      </div>
      <div>
        <label>START DATE
          <input type="text" name="startDate" ng-model="book.startDate" />
        </label>
      </div>
      {{book|json}}
      <div>
        <button type="submit" name="commit" ng-click="updateBook()">
          Save Changes
        </button>
      </div>
    </div>
  </form>
  <nav>
    <a href="#/main">Back to main menu</a>
  </nav>
</div>