<div ng-init="getAllBooks()">
  <h1>Update Habit</h1>
  <form>
    <div ng-hide="book">
      <label>Select book:
        <select ng-model="book"
                ng-options="(book.name) for book in books">
          <option value="">...</option>
        </select>
      </label>
    </div>
    <div ng-show="book">
      <div>
        <label>NAME
          <input type="text" name="name" ng-model="book.name" />
        </label>
      </div>
      <div>
        <label>DESCRIPTION
          <input type="text" name="description" ng-model="book.description" />
        </label>
      </div>

      <div class="form-group" ng-controller="DatepickerDemoCtrl" style="width:200px;">

        <div>
          <label for="startDate"><h6>START DATE</h6>
            <p class="input-group">
              <input type="text" id="startDate" name="startDate" class="form-control"
                     uib-datepicker-popup="{{format}}"
                     ng-model="bookdt"
                     is-open="popup1.opened" min-date="1980/1/1" max-date="maxDate"
                     datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                     ng-required="true"
                     close-text="Close" alt-input-formats="altInputFormats"/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i
                          class="glyphicon glyphicon-calendar"></i></button>
                      </span>
            </p>
          </label>

        </div>

      </div>

      {{habitData|json}}
      {{attemptData|json}}
      <div>
        <button type="submit" name="commit" ng-click="updateBook()">
          Save Changes
        </button>
      </div>
    </div>
  </form>
  <nav>
    <a href="#/main">Back to main menu</a>
  </nav>
</div>