<!--
<nav ng-controller="HeaderController" class="navbar navbar-default">
-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        28Chains<span class="label label-warning"
                      style="font-size:9px; position: absolute; z-index:999; left: 68px; top:34px;">BETA</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ng-hide="vm.isLoggedIn()" class="active"><a href="" ng-click="auth.$authWithOAuthRedirect('facebook')">Please log in before using 28Chains.</a></li>
        <li ng-show="vm.isLoggedIn()" class="active"><a href="#/showAllHabit">My Habits</a></li>
        <li ng-show="vm.isLoggedIn()"><a href="#/createHabit">Add Habit</a></li>
        <li ng-show="vm.isLoggedIn()"><a href="#/updateHabit">Edit Habit</a></li>
        <li ng-show="vm.isLoggedIn()"><a href="#/deleteHabit">Delete Habit</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="vm.isLoggedIn()"><a href="#"><span
          class="glyphicon glyphicon-user"></span> Hello, {{ authData.facebook.displayName }}</a></li>

<!--
        <li ng-hide="authData"><a href="" ng-click="auth.$authWithOAuthRedirect('facebook')"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li ng-hide="authData"><a href="" ng-click="auth.$authWithOAuthRedirect('facebook')"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
-->
        <li ng-hide="vm.isLoggedIn()">
          <!--<a href="" ng-click="auth.$authWithOAuthRedirect('facebook')">-->
          <a href="" ng-click="vm.login()">
          <!--<a href="#/login">-->
            <span class="glyphicon glyphicon-user"></span> Sign Up
          </a>
        </li>

        <li ng-hide="vm.isLoggedIn()">
          <!--<a href="" ng-click="auth.$authWithOAuthRedirect('facebook')">-->
          <a href="" ng-click="vm.login()">
          <!--<a href="#/login">-->
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>

        <li ng-show="vm.isLoggedIn()">
          <!--<a href="" ng-click="auth.$unauth()">-->
          <a href="" ng-click="vm.logout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>