h1 {

}

h2{

}

h3 {

}


h4 {

}


h5 {

}

.journalHeadings {
    font-family: 'Permanent Marker', cursive;
}

#attempt-3colContainer .col-lg-4 {
    padding: 0px 10px 0px 20px;
    background-color: ;
}

#attempt-3colContainer .col-lg-4 h3 {
    position: relative;
    left: -20px;
}

label h6 {
color: grey;
    font-weight: bold;s
}

button {
    font-weight: bold;
}

table a:hover {
    text-decoration: none;
}

#div-nvView {
    padding: 0 20px 10px 20px;
}

hr {
    padding: 0 20px 10px 20px;
}

footer {
    padding: 0 20px 10px 20px;
}

.brenterface {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.brenterface.ng-hide {
    opacity: 0;
}

svg  {
    z-index: -99;
}

uib-tab-heading {
    font-weight: bold;
}

/* http://stackoverflow.com/a/25803967 */
/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}



/* view-source:http://getbootstrap.com/examples/sticky-footer/ */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
/* custom footer CSS */
.footer {
color: #adadad;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}



/* http://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text */

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}