h1 {

}

h2{

}

h3 {

}


h4 {

}


h5 {

}

label h6 {
color: grey;
    font-weight: bold;s
}

button {
    font-weight: bold;
}

table a:hover {
    text-decoration: none;
}

#div-nvView {
    padding: 0 20px 10px 20px;
}

hr {
    padding: 0 20px 10px 20px;
}

footer {
    padding: 0 20px 10px 20px;
}

.brenterface {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.brenterface.ng-hide {
    opacity: 0;
}

line {
    z-index:; -1;
}

uib-tab-heading {
    font-weight: bold;
}

/* http://stackoverflow.com/a/25803967 */
/* set reference point */
.tab-animation > .tab-content {
    position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane{
    transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
    opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
    opacity: 0;
}