<div ng-controller="attemptViewerController">
  <hr class="style-two"/>
  <div class="row">

    <div ng-hide="attemptIdLoaded" id="attemptQuerySearcher" class="col-sm-12 text-center">
      <p> Enter the ID of an Attempt to view it.
      </p>
      <p>
        Click the <label class="label label-primary">ATTEMPT</label> on any Attempt's page to automatically paste it's
        ID to your clipboard.

      </p>
      <input id="queryAttemptID" type="text" placeholder="Attempt ID"/>
      <button ng-click="setAttemptLoaded()">VIEW</button>
      <br/>
      <br/>
      <p>Or click here to search for relevant Attempts.</p>

      <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
            <h3 class="modal-title">SEARCH ATTEMPTS</h3>
          </div>
          <div class="modal-body">

            <div ng-hide="searchResults" class="text-center">
              <h4>Use the search input below to search for Attempts.</h4>
            </div>

            <table id="atmpSrchrTbl" ng-show="searchResults" class="table table-hover table-striped">
              <thead>
              <tr>
                <th>Habit Name</th>
                <th>Attempt Name</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-click="wayne()" ng-repeat="obj in searchResults">
                <!--<td>{{attempt._source }}</td>-->
                <!--<td>{{ obj._source }}</td>-->
                <!--<td>1 {{ Utils.keys(obj._source) }} 2</td>-->
                <!--<td>1 {{ Utils.keys(obj._source)[0] }} 2</td>-->
                <td>{{ obj._source[Utils.keys(obj._source)[0]].habitName }}</td>
                <td>{{ obj._source[Utils.keys(obj._source)[0]].name }}</td>
                <td>{{ obj._source[Utils.keys(obj._source)[0]].description }}</td>
              </tr>
              </tbody>
            </table>

            <!--<pre>{{searchResults | json}}</pre>-->

            <!--            <ul>
                          <li ng-repeat="item in items">
                            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                          </li>
                        </ul>
                        Selected: <b>{{ selected.item }}</b>-->

          </div>
          <div class="modal-footer">

            <form>
              <input ng-model="searchTerm" style="margin-right: 10px; float: left;" type="text" autofocus placeholder="Search Term"/>
              <!--<button style="float: left;" class="btn btn-primary" type="button" ng-click="ok()">SEARCH</button>-->
              <input value="SEARCH" style="float: left;" class="btn btn-primary" type="submit" ng-click="searchForAttempts(searchTerm)">
              </input>
            </form>


            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
          </div>
        </script>

        <!--<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>-->
        <button ng-click="open('lg')">SEARCH</button>
        <!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->
      </div>

    </div>

    <div ng-show="attemptIdLoaded" id="attemptViewerUI">
      <div class="row">
        <div class="col-sm-11">
        </div>
        <div class="col-sm-1">
          <!--<button ng-click="unloadAttempt()">X Close Attempt</button>-->
        </div>
      </div>


      <div>
        <div>
          <!--<progress ng-show="showLoading"></progress>-->
        </div>
        <!--<div ng-hide="showLoading">-->
        <div>
          <!--
                  <h2><label class="label label-default">HABIT</label> &nbsp; {{data.habitName}}</h2>
          -->
          <div class="container-fluid" id="attempt-3colContainer">
            <!--<div id="atmptViewer" class="row">-->
            <div id="atmptViewer">
              <div class="col-md-7">
                <h2>
                  <!--<label class="label label-default">HABIT</label> &nbsp; <input id="atmptPge_hbtNme" class="editableField" type="text" ng-model="habitName"/>-->
                  <!--TODO ngmodel-->
                  <label for="other_atmptPge_hbtNme" class="label label-default">HABIT</label> &nbsp;
                  <input style="width: 80%;" class="otherAttempt_input" id="other_atmptPge_hbtNme" type="text"
                         ng-model="otherHabit.name" readonly/>
                </h2>
                <h3>&nbsp;&nbsp;&nbsp;
                  <label class="label label-primary">ATTEMPT</label> &nbsp;
                  <input class="otherAttempt_input shrtndInput" type="text" ng-model="otherAttempt.name" readonly/>
                  <label class="label label-primary">START DATE</label> &nbsp;
                  <input class="otherAttempt_input" type="text" ng-model="otherAttempt.startDate" readonly/>

              </div>
              <div class="col-md-5">
                <!--<img src="https://storage.googleapis.com/support-kms-prod/SNP_40CDC3FE322AB07CD3E5860E126FF906B05D_2922298_en_v3"/>-->
                <button style="float: right;" ng-click="unloadAttempt()">Back to Attempt Picker &gt;</button>

              </div>
            </div>
          </div>
          <!--<input ng-bind="attempt.startDate" ng-focus="storeOldStartDate(attempt.startDate)"  class="editableField" type="text" />-->
          <!--<button ng-click="changeChainDates(attempt.chain, oldDateValue, attempt.startDate)">Set Date</button>-->

          </h3>

          <br/>
          <div ng-controller="TabsDemoCtrl">
            <!--{{data}}-->

            <form name="outerForm" class="tab-form-demo">
              <uib-tabset class="tab-animation" justified="true">

                <uib-tab ng-repeat="day in otherAttempt.chain" field="{{1+1}}">
                  <uib-tab-heading>
                    <!--<uib-tab-heading ng-if="1===1">-->
                    <!--<uib-tab-heading ng-if="day.date <= data.startDate">-->


                        <span
                          ng-class="{true: 'brenterface label label-success', false: 'brenterface label label-danger'}[day.status]">

                            <span ng-bind-html="getTabHeading($index, day.date)"></span>
                        </span>

                    <svg class="brenterface" ng-show="day.status=='true' && $index !=27" height="10" width="80"
                         style="left:
                        40px; position: absolute">
                      <line position: absolute x1="0" y1="10" x2="55" y2="10"
                            style="stroke:rgb(92,184,92);stroke-width:2"/>
                    </svg>

                  </uib-tab-heading>
                  <br/>
                  <div class="container-fluid" id="attempt-3colContainer">
                    <div class="row">
                      <div class="col-md-4">
                        <label>
                          Accomplished?
                          {{day.date | date:'EEE MMM d yyyy'}}
                          <!--
                                                          {{data | json}}
                          -->
                          &nbsp;
                          <label class="radio-inline">
                            <input type="radio" ng-model="day.status" value="true" disabled>Yes
                          </label>
                          <label class="radio-inline">
                            <input type="radio" ng-model="day.status" value="false" disabled>No
                          </label>
                        </label>
                      </div>
                      <div class="col-md-4"></div>
                      <div class="col-md-4"></div>
                    </div>
                  </div>
                  <div class="container-fluid" id="attempt-3colContainer">
                    <!--<div ng-if="day.date <= data.startDate" class="container-fluid" id="attempt-3colContainer">-->
                    <div class="row">
                      <div class="col-lg-4">
                        <h3 class="journalHeadings">
                          Journal
                        </h3>
                        <ng-form name="nestedForm">
                          <div class="form-group">
                                     <textarea
                                       placeholder="Track details about your day.&#13;&#10;&#13;&#10;Maybe log how much weight lifted.&#13;&#10;Or how fast you ran.&#13;&#10;Reflect on your progress and anticipate future difficulties."
                                       rows="8" class="form-control" ng-model="day.journalEntry" readonly>

                                     </textarea>

                          </div>
                        </ng-form>

                      </div>
                      <div class="col-lg-4">
                        <h3 class="journalHeadings">
                          Advice To Others
                        </h3>
                                  <textarea
                                    placeholder="If someone was attempting the same Habit, what advice would you give them?&#13;&#10;&#13;&#10;"
                                    rows="8" class="form-control" ng-model="day.fundamentals" readonly></textarea>
                      </div>
                      <div class="col-lg-4">
                        <h3 class="journalHeadings">
                          Pics and Videos
                        </h3>
                        <input placeholder="YouTube URL" type="text" ng-model="day.YouTube" size="60" readonly/>
                        <br/>
                        <!--<h6>YouTube URL</h6>-->

                        <div ng-show="day.YouTube" class="embed-responsive embed-responsive-16by9">
                          <anguvideo ng-model="day.YouTube"></anguvideo>
                        </div>
                        </h3>
                      </div>
                    </div>

                  </div>

                </uib-tab>

              </uib-tabset>
            </form>


          </div>


          <!--        Model:
                  <pre>{{ model | json }}</pre>
                  Nested Form:
                  <pre>{{ outerForm.nestedForm | json }}</pre>-->

          <!--
                  <pre>{{ statusChoices | json }}</pre>
          -->

        </div>


      </div>


    </div>
    <!--end attemptViewerUI-->

    <!--{{data | json}}-->

    <!--<br/>-->
    <!--{{attemptIdLoaded}}-->


    <!--<div class="col-sm-4">.col-sm-4</div>-->
    <!--<div class="col-sm-4">.col-sm-4</div>-->
    <br/>
    <br/>
  </div>
</div>

<!-- app code starts is here -->
<script>
  // App module
  //
  // The app module will contain all of the components the app needs (directives,
  // controllers, services, etc.). Since it will be using the components within
  // the elasticsearch module, define it a dependency.
  var ExampleApp = angular.module('ExampleApp', ['elasticsearch']);

  // Service
  //
  // esFactory() creates a configured client instance. Turn that instance
  // into a service so that it can be required by other parts of the application
  ExampleApp.service('client', function (esFactory) {
    return esFactory({
      host: 'localhost:9200',
//        host: 'https://paas:6f0aa4d02b9330765a79b677dd412747@dori-us-east-1.searchly.com',
      apiVersion: '1.2',
      log: 'trace'
    });
  });

  // Controller
  //
  // It requires the "client" service, and fetches information about the server,
  // it adds either an error or info about the server to $scope.
  //
  // It also requires the esFactory to that it can check for a specific type of
  // error which might come back from the client
  ExampleApp.controller('ExampleController', function ($scope, client, esFactory) {

    client.cluster.state({
        metric: [
          'cluster_name',
          'nodes',
          'master_node',
          'version'
        ]
      })
      .then(function (resp) {
        $scope.clusterState = resp;
        $scope.error = null;
      })
      .catch(function (err) {
        $scope.clusterState = null;
        $scope.error = err;

        // if the err is a NoConnections error, then the client was not able to
        // connect to elasticsearch. In that case, create a more detailed error
        // message
        if (err instanceof esFactory.errors.NoConnections) {
          $scope.error = new Error('Unable to connect to elasticsearch. ' +
            'Make sure that it is running and listening at http://localhost:9200');
        }
      });

    client.search({ //https://dashboard.searchly.com/17573/installation/nodejs#
      index: 'attempt',
      type: 'internal',
      body: {
        "query": { // http://joelabrahamsson.com/elasticsearch-101/    Basic free text search
          "query_string": {
            "query": "temptation"
          }
        }
      }
    }).then(function (resp) {
      console.log("RESP");
      console.log(resp);
      var hits = resp.hits.hits;
      $scope.searchResults = resp.hits.hits;
    }, function (err) {
      console.trace(err.message);
    });

  });
</script>